@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&display=swap');
@font-face {
  font-family: Ginger;
  src: url('/font/Ginger.woff');
}
/* colors - pastel */
:root {
  --pastel-aqua: #58CFEE;
  --pastel-blue: #65A7E6;
  --pastel-darkblue: #6661AB;
  --pastel-pink: #F7979F;
  --pastel-darkpink: #C8566B;
  --pastel-lightyellow: #F2D48F;
  --pastel-yellow: #F6DA70;
  --pastel-orange: #E78963;
  --pastel-lightviolet: #9D75BF;
  --pastel-violet: #8D5ED4;
  --pastel-turkus: #4CDBA6;
  --pastel-lightnav: #F7E9DE;

  --primary: var(--pastel-lightviolet);
  /* light */
  --light-background: #EEEDF0;
  --pastel-text-light: #17181F;
  --scroll-nav-light: rgba(255, 255, 255, 0.5);
  --webkit-scroll-light:  #17181F;
  --webkit-scroll-light-hover: #555;

  /* dark */
  --dark-background:  #17181F;
  --pastel-text-dark: #F5F8F3;
  --scroll-nav-dark: rgba(0,0,0,0.3);
  --webkit-scroll-dark: var(--pastel-lightnav);
  --webkit-scroll-dark-hover: #a6a6a6;
}

/* light mode */
.light {
  --webkit-scroll: var(--webkit-scroll-light);
  --webkit-scroll-hover: var(--webkit-scroll-light-hover);
  --background: var(--light-background);
  --scroll-nav: var(--scroll-nav-light);
  --scroll-nav-bottom: var(--primary);
  --primary-color: var(--primary);
  --nav-color-link: var(--pastel-text-light);
  --font-color: var(--pastel-text-light);
  --close: url(../public/images/closeLightMode.svg);
  --open: url(../public/images/openLightMode.svg);
  --last-paragraph-in-hero: 200;
  transition: background-color 1s ease-in-out;
}
/* dark mode */
.dark {
  --webkit-scroll: var(--webkit-scroll-dark);
  --webkit-scroll-hover: var(--webkit-scroll-dark-hover);
  --background: var(--dark-background);
  --scroll-nav: var(--scroll-nav-dark);
  --scroll-nav-bottom:var(--primary);
  --primary-color: var(--primary);
  --nav-color-link: var(--pastel-text-dark);
  --font-color: var(--pastel-text-dark);
  --close: url(../public/images/close.svg);
  --open: url(../public/images/open.svg);
  --last-paragraph-in-hero: 100;
  transition: all 1s ease-in-out;
}
/* Responsive Typography */
html {
  font-size: 16px;
  overflow-x: hidden;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
@media screen and (min-width: 1366px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 30px;
  }
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--webkit-scroll);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--webkit-scroll-hover);
}
/* finish responsive typography */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
  color: unset;
}
body {
  min-height: 100vh;
  background-color: var(--background);
}
.container {
  min-width: 320px;
  max-width: 1340px;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
/* logo */
.header {
  box-sizing: content-box;
  min-height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  transition: .5s background-color ease-in-out;
}
.headerBackgroundScroll {
   background-color: var(--scroll-nav);
   border-bottom: 1px solid var(--scroll-nav-bottom);
}
.logo {
  display: inline-block;
  font-size: 30px;
  font-family: Ginger;
  margin-left: 2rem;
  color: var(--primary);
  transition: .5s color ease-in-out;
}
/* Menu */
.fullPageMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  transition: 0.5s;
  z-index: 999;
}
.fullPageMenu.active {
  top: -100%;
}
.fullPageMenu .banner {
  position: relative;
  width: 600px;
  height: 100%;
}
.fullPageMenu .banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fullPageMenu .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.fullPageMenu .nav ul {
  position: relative;
}
.fullPageMenu .nav ul li {
  position: relative;
  list-style: none;
  padding: 0 20px;
  margin: 5px 0;
  overflow: hidden;
  display: table;
}
.fullPageMenu .nav ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleY(0);
  transform-origin: bottom;
}
.fullPageMenu .nav ul li:hover:before {
  transition: transform 0.5s ease-in-out;
  transform: scaleY(1);
  transform-origin: top;
}
.fullPageMenu .nav ul li a {
  position: relative;
  color: var(--nav-color-link);
  text-decoration: none;
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}
.fullPageMenu .nav ul li a::before {
  content: attr(data-text);
  position: absolute;
  bottom: -100%;
  left: 0;
  color: var(--nav-color-link);
}
.fullPageMenu .nav ul li:hover a {
  transform: translateY(-100%);
  color: var(--nav-color-link);
}
.menuIcon {
  position: fixed;
  top: 10px;
  right: 2rem;
  width: 60px;
  height: 60px;
  background: var(--close);
  background-size: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 10px;
  z-index: 9999;
}
.menuIcon.active {
  top: 10px;
  right: 2rem;
  width: 60px;
  height: 60px;
  background: var(--open);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 10px;
  z-index: 9999;
}

/* finish menu */
/* hero section */
.hero {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--font-color);
  flex-direction: column;
  flex-flow: column nowrap;
  min-height: auto;
  margin-top: 4rem;
  height: auto;
  p {
    font-family: Ginger;
    font-size: 2.5rem;
    span {
      font-family: Ginger;
      color: var(--primary-color);
    }
  &:last-of-type {
    font-family: unset;
    font-size: 1rem;
    font-weight: var(--last-paragraph-in-hero);
    }
  }
}
.change__colors {
  position: fixed;
  left: 2rem;
  bottom: 1rem;
  width: 100%;
  ul {
    margin: 0;
    padding: .3rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
    list-style-type: none;
    overflow: hidden;
    transition: all 1s ease-in-out;
  }
  ul:hover {
    width: 100%;
    transition: all 1s ease-in-out;
  }
  ul:hover::before {
    position: absolute;
    content: 'Change color';
    left: .5rem;
    top: -40%;
    font-size: .6rem;
    color: var(--font-color);
  }
  li {
    display: block;
    margin-left: .5rem;
    margin-top: .5rem;
    float: left;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: gray;
    transform: translateY(-0.5rem);
    transition: all 1s ease-in-out;
  }
  li:nth-child(1) {
    margin-left: 0;
    background-color: var(--pastel-darkpink);
  }
  li:nth-child(2) {
    background-color: var(--pastel-yellow);
  }
  li:nth-child(3) {
    background-color: var(--pastel-darkblue);
  }
  li:nth-child(4) {
    background-color: var(--pastel-turkus);
  }

}
.toggle {
  position: fixed;
  right: 2rem;
  bottom: 1rem;
  user-select: none;
  z-index: 999999;
}
.toggle-icon {
  width: 28px;
  user-select: none;
  transition: all .4s ease-in-out;
}
.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  user-select: none;
}
.toggle-label {
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
}
.toggle-icon:hover {
  transform: scale(1.1);
}
.section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  .container {
    display: flex;
    align-items: center;
  }
  h2 {
    color: var(--font-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: .8rem;
  }
  .line {
    margin-top: .3rem;
    width: 80%;
    height: 2px;
    background-color: var(--font-color);
  }
  .about__desc {
    text-align: justify;
    margin-top: 2rem;
    line-height: 2rem;
    color: var(--font-color);
    font-size: 1.5rem;
    margin-bottom: 2rem;
    span {
      font-family: Ginger;
      color: var(--primary);
    }
  }
  .button {
    padding: .5rem 2rem;
    border-radius: 1000px;
    outline: none;
    border: 2px solid var(--primary);
    background-color: unset;
    color: var(--font-color);
    font-weight: 700;
    transition: background-color .5s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: var(--primary);
    }
  }
}
.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .line {
    margin-bottom: 2rem;
  }
}

.m-scroll {
  display: flex;
  position: relative;
  height: 5rem;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  &__title {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: all 1s ease;
    & > .m-scroll__title-right {
      display: flex;
      animation: scrollTextToRight 33s infinite linear;
      h2 {
        font-family: Ginger;
        font-weight: 200;
      }
    }
    & > .m-scroll__title-left {
      display: flex;
      animation: scrollTextToLeft 33s infinite linear;
      h2 {
        font-weight: 400;
      }
    }
    h2 {
      margin: 0;
      color: var(--font-color);
      font-size: 5rem;
      transition: all 2s ease;
      text-transform: uppercase;
      cursor: default;
      span {
        margin-left: 2rem;
      }
      span:hover {
        color: var(--primary);
        transition: color .3s ease-in-out;
      }
    }
  }
}

@keyframes scrollTextToLeft {
  from   { transform: translateX(0%); }
  to { transform: translateX(-50%); }
}
@keyframes scrollTextToRight {
  from   { transform: translateX(-50%); }
  to { transform: translateX(0); }
}
.section {
  .container {
    .project {
      display: flex;
      align-items: center;
      width: 80%;
      gap: 1rem;
      color: var(--font-color);
      transition: all .5s ease-in-out;
      &:hover {
        transition: all .5s ease-in-out;
        transform: translateX(1rem);
      }
      .project__number {
        font-size: 1rem;
        align-self: flex-start;
        font-family: Ginger;
      }
      .project__name {
        font-size: 2rem;
        font-family: Ginger;
        padding: 1rem 0;
        word-break: break-word;
        &:hover {
          color: var(--primary)
        }
      }
    }
  }
}


/* Media start */
@media screen and (min-width: 500px){
  .fullPageMenu .nav ul li a {
    font-size: 4em;
  }
  .hero p {
    font-size: 3rem;
    justify-content: center;
    margin-top: 0;

    &:last-of-type{
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: var(--font-color);
        left: -40px;
        top: calc(50% - 2px);
      }
      &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: var(--font-color);
        right: -40px;
        top: calc(50% - 2px);
      }
    }
  }
  .hero .container {
    align-items: center;
    p:nth-child(1) {
      transform: translateX(-4rem);
    }
    p:nth-child(3) {
      transform: translateX(6rem);
    }
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.5);
    transform: scale(1.5);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@media screen and (min-width: 670px) {
  .hero {
    margin-top: 0;
  }
  .hero p {
    font-size: 4rem;
  }
  .hero .container {
    align-items: center;

    p:nth-child(1) {
      transform: translateX(-6rem);
    }

    p:nth-child(3) {
      transform: translateX(8rem);
    }
  }
  .section {
    .about__desc {
      text-align: center;
      padding: 0 2rem;
    }
  }
  .section .container .project .project__name {
    font-size: 3rem;
  }
}
@media(max-width:991px) {
  .banner {
    display: none;
  }
}
@media screen and (min-width: 991px) {
  .fullPageMenu .nav ul li a {
    font-size: 5em;
  }
  .hero {
    margin-top: 0;
  }
  .hero .container {
    align-items: center;
    p:nth-child(1) {
      transform: translateX(-8rem);
    }
    p:nth-child(3) {
      transform: translateX(10rem);
    }
  }
}
@media screen and (min-width: 1024px){
  .hero {
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
  }
  .hero p {
    font-size: 5rem;
  }
  .hero {
    margin-top: 0;
  }
  .section {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1366px) {
  .section {
    .about__desc {
      text-align: center;
      padding: 0 1rem;
    }
  }
}
@media screen and (min-width: 1600px){
  .hero {
    margin-top: 0;
  }
  .hero p {
    line-height: 4.5rem;
  }
  .section {
    .about__desc {
      text-align: center;
      padding: 0;
    }
  }
}
@media screen and (min-width: 1900px){
  .hero p {
    font-size: 5.7rem;
    line-height: 5rem;
  }
  .hero {
    margin-top: 0;
  }
}